/* css reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,fotter,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
precode,kbd,samp{font-family:inherit;}
q:brfore,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,simsun;color:#333;outline:0;}

/* 居中布局 */
.box {
	width: 50vw;
	height: 50vh;
	border: 1px solid green;
}

/* 行内元素 */
/* 水平垂直 */
/* #obox {
	text-align: center;
}
#ttext {
	line-height: 50vh;
} */

/* #obox {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
} */

/* block元素 */
#tbox {
	width: 100px;
	height: 100px;
	border: 1px solid pink;
}

/* 水平 */
/* #tbox {
	margin: auto;
} */

/* #pbox {
	text-align: center;
}
#tbox {
	display: inline-block;
} */

/* 垂直 */
/* #pbox { display: table-cell; vertical-align: middle; } */

/* 水平垂直 */
/* #pbox {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#tbox {
	display: inline-block;
} */

/* #pbox {
	position: relative;
}
#tbox {
	position: absolute;
 */
	/* top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto; */

	/* top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px; */

	/* top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); */
/* } */

/* #pbox  {
	display: flex;
	justify-content: center;
	align-items: center;
} */





