/* css reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,fotter,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
precode,kbd,samp{font-family:inherit;}
q:brfore,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,simsun;color:#333;outline:0;}

/* 居中布局 */
.box {
	width: 50vw;
	height: 50vh;
	border: 1px solid green;
}
.column {
	border: 1px solid red;
}

/* .left {
	width: 100px;
	float: left;
}
.right {
	margin-left: 110px;
} */

/* .left {
	width: 100px;
	float: left;
	margin-right: 10px;
}
.right {
	overflow: hidden;
} */

/* .left {
	width: 100px;
	float: left;
	position: relative;
}
.right-fix {
	width: 100%;
	margin-left: -104px;
	float: right;
	border: 1px solid green;
}
.right {
	margin-left: 120px; */
}

/* .pbox {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.left,.right{
	display: table-cell;
	background-color: pink;
}
.left {
	width: 100px;
	padding-right: 20px;
} */

/* .pbox {
	display: flex;
}
.left {
	width: 100px;
}
.right {
	flex: 1;
	margin-left: 10px;
} */











